<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - AproTerra</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <main class="main-content">
        <div>
            <h2>Login - AproTerra</h2>
            <form id="login" class="user-form" action="/login-user" method="POST">
                <label for="user_key">Chave de Usuário</label>
                <input type="text" id="user_key" name="user_key" placeholder="123456" required>
        
                <label for="cpf">CPF</label>
                <input type="password" id="cpf" name="cpf" placeholder="Digite seu CPF" required>
        
                <button type="submit" class="primary-button">Entrar</button>
            </form>
            <div class="error" id="errorMessage"></div>
        </div>
    </main>

    <script>
        const form = document.getElementById('loginForm');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const userKey = document.getElementById('user_key').value;
            const cpf = document.getElementById('cpf').value;

            const response = await fetch('/login-user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ user_key: userKey, cpf: cpf }),
            });

            const result = await response.json();
            const errorMessage = document.getElementById('errorMessage');

            if (response.ok) {
                errorMessage.textContent = '';
                alert('Login bem-sucedido!');
                // Redirecione para a página principal ou painel de controle
                window.location.href = '/dashboard';
            } else {
                errorMessage.textContent = result.error || 'Erro no login.';
            }
        });
    </script>
</body>
</html>
